# dependencies
/node_modules

# builds
/dist

# environment
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# coverage
/coverage
